<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!--防止表单重复提交的Servlet-->
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.tcx.token.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <!--购物车页面跳转Servlet-->
    <servlet>
        <servlet-name>shoppingCartActionServlet</servlet-name>
        <servlet-class>com.tcx.action.ShoppingCartActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shoppingCartActionServlet</servlet-name>
        <url-pattern>/shoppingCartAction</url-pattern>
    </servlet-mapping>
    <!--购物车step1 Servlet-->
    <servlet>
        <servlet-name>Step1Servlet</servlet-name>
        <servlet-class>com.tcx.session.shoppingCart.ProcessStep1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Step1Servlet</servlet-name>
        <url-pattern>/step1Servlet</url-pattern>
    </servlet-mapping>

    <!--购物车step2 Servlet-->
    <servlet>
        <servlet-name>Step2Servlet</servlet-name>
        <servlet-class>com.tcx.session.shoppingCart.ProcessStep2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Step2Servlet</servlet-name>
        <url-pattern>/step2Servlet</url-pattern>
    </servlet-mapping>

    <!--生成验证码图片的servlet-->
    <servlet>
        <servlet-name>validateColorServlet</servlet-name>
        <servlet-class>com.tcx.session.checkCode.ValidateColorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>validateColorServlet</servlet-name>
        <url-pattern>/validateColorServlet</url-pattern>
    </servlet-mapping>

    <!--验证码图片servlet-->
    <servlet>
        <servlet-name>checkCodeServlet</servlet-name>
        <servlet-class>com.tcx.session.checkCode.CheckCodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkCodeServlet</servlet-name>
        <url-pattern>/checkCodeServlet</url-pattern>
    </servlet-mapping>

    <!--filter小例子，用来验证username和password-->

    <filter>
        <filter-name>usernameFilter</filter-name>
        <filter-class>com.tcx.filter.UsernameFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>usernameFilter</filter-name>
        <url-pattern>/filter/hello.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>passwordFilter</filter-name>
        <filter-class>com.tcx.filter.PasswordFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>passwordFilter</filter-name>
        <url-pattern>/filter/hello.jsp</url-pattern>
    </filter-mapping>

    <!--filter 禁用浏览器缓存的浏览器-->
    <filter>
        <filter-name>noCacheFilter</filter-name>
        <filter-class>com.tcx.filter.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <url-pattern>/filter/cache/*</url-pattern>
    </filter-mapping>

    <!--filter 字符编码过滤，将页面字符编码设置为UTF-8-->

    <context-param>
        <param-name>Encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.tcx.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--判断用户是否登录的过滤器，若用户登录则可以访问某些特定的页面，
    若用户未登录访问特殊页面时就跳转到登录页面-->
    <context-param>
        <param-name>userSessionKey</param-name>
        <param-value>USERSESSIONKEY</param-value>
    </context-param>
    <!--重定向页面-->
    <context-param>
        <param-name>redirectPage</param-name>
        <param-value>/filter/login/login.jsp</param-value>
    </context-param>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.tcx.filter.LoginFilter</filter-class>

        <!--不进行拦截的路径-->
        <init-param>
            <param-name>uncheckUrls</param-name>
            <param-value>/filter/login/login.jsp,/filter/login/doLogin.jsp,/filter/login/a.jsp,/filter/login/list.jsp
            </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/filter/login/*</url-pattern>
    </filter-mapping>


    <!--权限管理部分配置的filter与servlet-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.tcx.authority_manage.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>


    <filter>
        <init-param>
            <param-name>nocheckUrls</param-name>
            <param-value>
                /authority_manage/articleList.jsp,/authority_manage/authoritiesManage.jsp,/authority_manage/login.jsp,/authority_manage/noAu.jsp,/authority_manage/logout.jsp
            </param-value>
        </init-param>
        <filter-name>authorityFilter</filter-name>
        <filter-class>com.tcx.authority_manage.AuthorityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authorityFilter</filter-name>
        <url-pattern>/authority_manage/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>authorityManageServlet</servlet-name>
        <servlet-class>com.tcx.authority_manage.AuthorityManageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorityManageServlet</servlet-name>
        <url-pattern>/authorityManageServlet</url-pattern>
    </servlet-mapping>


    <!--来测试filer的使用顺序以及配置filter的dispatcher属性相关内容-->
    <filter>
        <filter-name>firstFilter</filter-name>
        <filter-class>com.tcx.filter.FirstFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>firstFilter</filter-name>
        <url-pattern>/filter/test.jsp</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>secondFilter</filter-name>
        <filter-class>com.tcx.filter.SecondFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>secondFilter</filter-name>
        <url-pattern>/filter/test.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>


    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/filter/test.jsp</location>
    </error-page>
</web-app>
